body {
    background-color: rgb(33, 33, 116);
}

main {
    background-color: rgb(33, 33, 116);
}

.table td {
    background-color: rgba(0, 0, 0, 0.236);
}

.table th {
    background-color: rgba(0, 0, 0, 0.47);
}

footer {
    border-top: 1px black solid !important;
}

.titulo-juego,
.titulo-error {
    color: white;
}

.detalles-juegos,
.detalles-desarrolladores {
    display: flex;
    margin-bottom: 10px;
}

.detalles-juegos {
    justify-content: space-between;
}

.detalles-desarrolladores {
    justify-content: end;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group label {
    color: white;
}
